name: lint_python
on: [push, pull_request] 
jobs:
  lint_python:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-python@v1
      - run: pip install flake8
      - run: flake8 . --count --select=E9,F63,F7,F82 --max-line-length=88 --show-source --statistics
